@media (min-width: 992px) and (max-width: 1199px) {
.img-con {height: 565px;overflow: hidden;}
}
@media (min-width: 768px) and (max-width: 991px) {
.img-con {height: 423px;overflow: hidden;}
}

@media (min-width: 290px) and (max-width: 480px) {
.search-area {float: right;overflow: hidden;padding: 10px 0;width: 290px;}
.search-area input {width: 185px;}
.logo img{ width:280px; height:auto;}

}